body {
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}
// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}
.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0px;
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071C4D;

            &.active{
               font-weight: bold;
               color: #071C4D !important;
            }
            
        }
        .border-bottom{
            border-width: 3px !important;
            border-color: #DB782C !important;
        }
    }
}
.btn-login{
    background-color: #071C4D;
    color: #fff;

    &:hover{
        background-color: #1C3E8B;
        color: #fff;
    }
}

// Header
header{
    padding: 180px 0 165px;
    background-image: url(../images/header.jpg);
    margin-top: -70px;
    background-size: cover;
    h1, p{
        color: #fff;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 22px;
    }
    .btn-getstarted{
        font-size: 20px;
        color: #fff;
        background-color: #FF9E53;
        &:hover{
            background-color: #DB782C;
            color: #fff;
        }
    }
}
// Main Content
//statistik
.section-stats{
    margin-top: -50px;

    .stats-detail{
        padding-top: 15px;
        background-color: #fff;
    }
    h2{
        font-size: 30px;
        margin-bottom: 0;
    }
    p{
        font-size: 20px;
        font-weight: lighter;
    }
}
//Popular
.section-popular
{
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;
    padding-bottom: 62px;

    .section-popular-heading {
        margin-top: 150px;
        h2, p {
            color: #fff;
        }
        h2{
            font-family: 'Playfair Display', serif;
            font-size: 40px;
            font-weight: bold;
        }
        p{
            font-size: 18px;
        }
    }
}

.section-popular-content
{
    .section-popular-travel
    {
        .card-travel
        {
            min-height: 380px;
            background-color: #E4E6EB;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country{
            font-size: 18px;
            color: #fff;
        }
        .travel-location{
            font-size: 26px;
            color: #fff;
        }
        .travel-btn{
            .btn-travel-details{
                background-color: #FF9E53;
            color: #fff;
            font-size: 18px;
            &:hover{
                background-color: #DB782C;
                color: #fff;
            }
            }
        }
    }
}

.section-networks
{
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 120px;

    h2{
        font-family: 'Playfair Display' serif;
        font-weight: bold;
        font-size: 40px;
    }
    p{
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

.section-testimonial-heading
{
    background-color: #E4E6EB;
    min-height: 500px;
    padding-top: 50px;
    h2{
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        font-weight: bold;
    }
    p{
        font-size: 18px;
        margin-top: 15px;
        
    }
}

.section-testimonial-content
{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial{
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        min-height: 160px;
    }

    .testimonial-content{
        min-height: 380px;
    }

    h3 {
        font-size: 22px;
    }

    .testimonial{
        font-weight: 200px;
        font-size: 26px;
        color: #6e6e6e;
    }
    .trip-to {
        font-size: 22px;
        color: #6e6e6e;
    }

    hr {
        margin-right: -20px;
        margin-left: -20px;
    }
}
.btn-get-started{
    font-size: 20px;
    color: #fff;
    background-color: #FF9E53;
    &:hover{
        background-color: #DB782C;
        color: #fff;
    }
}
.btn-need-help{
    font-size: 20px;
    color: #C3C3C3;
    background-color: #F2F2F2;
    &:hover{
    background-color: #F5EDED;
    color: #6E6767;
    }
}

.section-footer{
    a{
        color: #071C4D;
    }
}

.section-details-header{
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

.section-details-content{
    
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb{
        background-color: transparent;
        margin-bottom: 30px;
        padding: 0;
        margin-left: 20px;
    }
    .breadcrumb-item{
        &.active{
            font-weight: bold;
            color: #071C4D;
        }
    }
    .card-details{
        padding: 30px;
        border-radius: 11px;
    }
    h1 {
        font-size: 26px;
        font-weight: 600;
    }
    h2{
        font-size: 20px;
        font-weight: 600;
    }
    p{
        font-size: 18px;
        color: #b1b1b1;
    }
    .trip-informations{
        h2{
            font-size: 20px;
            font-weight: 600;
            color: #071C4D;
        }
        th{
            font-weight: 300;
            font-size: 18px;
            color: #071C4D;
        }
        td{
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
        .text-biru{
            font-weight: 600;
            font-size: 18px;
            color: #071C4D;
        }
        .text-orange{
            color: #FF9E53;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .payment-instructions{
        font-size: 14px;
        font-weight: lighter;
        color: #B1B1B1;
    }
    .bank{
        .bank-item {
            h3{
                font-size: 18px;
                font-weight: 600;
                color: #071C4D;
            }
            p {
                margin-bottom: 0;
            }
            .description{
                margin-left: 10px;
                overflow: hidden;
                float: left;
            }
            p{
                font-weight: normal;
                font-size: 16px;
                color: #071C4D;
            }
        }
        .bank-image{
            width: 45px;
            height: 45px;
            float: left;
        }
    }
    h3{
        font-size: 18px;
        font-weight: 500;
        color: #071C4D;
    }
    .disclaimer{
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }
    .gj-datepicker{
        .datepicker{
            border-right: 0;
        }
        .input-group-append{
            .btn{
                padding-right: 30px;
            }
        }
    }
    .btn-add-now{
        background-color: #071C4D;
        color: #fff;
        &:hover{
            background-color: #1340A8;
            color: #fff;
        }
    }
    .card-right{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features{
        margin-top: 20px;

        h3{
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p{
            margin-bottom: 0;
        }

        .description {
            margin-left : 10px;
            overflow: hidden;
            float: left;
        }
        
        .features-icon{
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery{
        .xzoom-container {
            display: block;
        }

        .xzoom{
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }

        .xactive{
            border: 4px solid #1ABC9C;
            box-shadow: none;
        }
    }
    .member{
        .images-member{
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
    }
    .join-container{
        margin-top: -16px;
        .btn-join-now{
            background-color: #FF9E53;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            border-radius: 0;
            &:hover{
                background-color: #DB782C;
                color: #fff;
            }
        }
    }
    .cancel-container{
        margin-top: -16px;
        .btn-cancel{
            background-color: #F64545;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 0;
            &:hover{
                color: #fff;
                background-color: #FF6A6A;
            }
        }
        .border-bottom{
            color: #fff;
            border-width: 2px !important;
        }
    }
}

.section-sukses{
    margin-top: 20px;
    height: 90vh;
    .text-center{
        h3{
            font-weight: 600;
            font-size: 26px;
            color: #071C4D;
            margin-bottom: 5px;
        }
        p{
            font-weight: lighter;
            font-size: 18px;
            color: #b1b1b1;
            margin-bottom: 50px;
        }
        .btn-home-page{
            widows: 180px;
            height: 45px;
            background-color: #071C4D;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
        }
    }
}